h1{
    color:blueviolet;
    font-style: italic;
    font-weight: 100;
}
h4{
    color:rgb(0, 128, 255);
    font-style: bold;
    font-weight: 300;
}
#camera{
    width: 500;
    height: 400;
}
.copy_right_footer {
position:fixed;
bottom: 0;
width: 100%;
text-align: center;
background-color: rgb(255, 183, 239);
color: rgb(175, 62, 255);
}
img:hover{
    border-radius: 140px;
    box-shadow:  0 6px 8px 0 rgba(2, 2, 2, 0.2);
}